div {
  display: block;
}

body {
  margin: 0;
}

 header {
   width: 100%;
   padding: 10px;
   color: white;
   background-color: #c52f24;
 } 
 
 .schedule-container {
   margin: 50px 30px;
 }
 
 footer {
   width: 100%;
   padding: 10px;
   color: white;
   background-color: #c52f24;
 }

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 15px;
}

table th, table td {
  border: solid 1px black;
  text-align: center;
}

 table th {
   background-color: #ffdfdf;
   padding: 10px 20px;
 }
 
 table td {
   background-color: #f1c8c861;
   padding: 10px 20px;
 }
 
 .notice {
   background-color: #98ecaa7a;
   padding: 10px 50px;
   text-align: center;
   border: 2px solid #5cd075;
   width: fit-content;
 }
 
 .alert {
   background-color: #ec98ac8f;
   padding: 10px 50px;
   text-align: center;
   border: 2px solid #ec7592;
   width: fit-content;
 }